nick: hermes
name: hermes bot
site:
  tld: orpheus.network
  url: https://orpheus.network
irc:
  host: 127.0.0.1
  port: 6667
  channels:
    orpheus:
      name: orpheus
    announce:
      name: announce
    devs:
      name: devs
      min_level: 800
    staff:
      name: staff
      min_level: 800
  oper:
    name: hermes
    password: password
  nickserv:
    password: password
http_socket:
  host: 127.0.0.1
  port: 9999
  alert_channel: alerts
youtube_api: key
api:
  id: id
  key: password
interview:
  class_id: 30
  min_level: 800
  speedtest_urls:
      - "(?:https?:\\/\\/)?(?:www\\.|beta\\.|legacy\\.)?speedtest\\.net\\/(?:my-)?result(?:\\/[\\w]{2})*\\/(\\d+)(?:\\.png)?"
  site: https://interview.orpheus.network
  channels:
      - interview
      - interview2
      - interview3
      - interview4
      - interview5
      - interview6
      - interview7
      - interview8
      - interview9
persist:
  path: "!HERMES!/persist.dat"
admins:
  - itismadness

